@model websiteTUTHIEN.Models.TableBaiBao

@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Thêm Bài Báo Mới";
}

<h1>Thêm Bài Báo Mới</h1>

<form asp-action="CreateBaiBao" method="post">
    <div class="form-group">
        <label asp-for="TenBaiBao"></label>
        <input asp-for="TenBaiBao" class="form-control" />
        <span asp-validation-for="TenBaiBao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TenTacGia"></label>
        <input asp-for="TenTacGia" class="form-control" />
        <span asp-validation-for="TenTacGia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NoidungBaiBao"></label>
        <textarea asp-for="NoidungBaiBao" class="form-control"></textarea>
        <span asp-validation-for="NoidungBaiBao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NgayDangBaiBao"></label>
        <input asp-for="NgayDangBaiBao" class="form-control" type="date" />
        <span asp-validation-for="NgayDangBaiBao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HinhanhBaiBao"></label>
        <input asp-for="HinhanhBaiBao" class="form-control" />
        <span asp-validation-for="HinhanhBaiBao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaDanhMucBaiBao"></label>
        <input asp-for="MaDanhMucBaiBao" class="form-control" />
        <span asp-validation-for="MaDanhMucBaiBao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm Bài Báo</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}