@model websiteTUTHIEN.Models.TableNguoiDung

@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["Title"] = "Xóa Người Dùng";
}

<link rel="stylesheet" href="~/css/custom.css" />

<div class="container">
    <div class="custom-card">
        <h2>Xóa Người Dùng</h2>
        <p class="text-center">Bạn có chắc chắn muốn xóa người dùng sau không?</p>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Tên</dt>
            <dd class="col-sm-9">@Model.TenNguoiDung</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>
        </dl>
        <form asp-action="Delete" asp-controller="Admin" method="post" style="display: flex; flex-direction: column; align-items: center;">
            <input type="hidden" asp-for="MaNguoiDung" />
            <div class="form-group" style="display: flex; gap: 10px;">
                <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
                <a href="@Url.Action("IndexND", "Admin")" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>
