@model websiteTUTHIEN.Models.TableNguoiDung
@{
    ViewData["Title"] = "Đăng Nhập";
}
<div class="container">
    <h2 style="margin-top: 50px;">Đăng Nhập</h2>
    <form asp-action="DangNhap" method="post">
        <div class="form-group" style="margin-top: 40px; font-size: 1.25rem;">
            <label asp-for="TenTk" class="control-label login-label"> Tên tài khoản</label>
            <input asp-for="TenTk" class="form-control login-input" placeholder="Nhập tên tài khoản" />
            <span asp-validation-for="TenTk" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 20px; font-size: 1.25rem;">
            <label asp-for="MatKhau" class="control-label login-label"> Mật khẩu</label>
            <input asp-for="MatKhau" type="password" class="form-control login-input" placeholder="Nhập mật khẩu" />
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        <div class="form-group">
                <button type="submit" class="btn btn-primary" style="text-align: right; margin-top: 20px;">Đăng Nhập</button>
        </div>
            <p style="margin-top: 20px;">Chưa có tài khoản? <a asp-action="Dangki">Đăng ký ngay</a></p>
    </form>
</div>
